ARK_API_KEY=your_volcengine_ark_api_key
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_MODEL_NAME=doubao-1-5-pro-32k-250115
DATABASE_URL=sqlite:///./syncflow.db
DEFAULT_USER_ID=default_user
SYNCFLOW_MOCK_LLM=false
